// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

h1 {
    margin-bottom: 2rem;
    
  }

.custom-input {
    max-width: 500px; // Or whatever width you want
    flex: 1 1 auto;
  }
  .input-group {
    justify-content: center;
  }
  
  
  
